.vending-machine {
    border: 3px solid black;
    width: 50%;
    min-width: 500px;
    height: 800px;

    @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 100px;
    }

    .control-area {
        padding: 20px;
        display: flex;
        border-bottom: 2px solid black;

        > div {
            flex: 1;
        }
    }
}
